<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
<h2>{{>header}}</h2>   
    <main>
      </section>
      <div class="current">
        <div class="welcome">Hello<span></span></div>
      </div>
    </main>
  </div>
  <script src="main.js"></script>
</body>
</html>